*{
   font-family: Bebas Neue;
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html{
   
   box-sizing: border-box;
}

body{
   height: 2000px;
   color: #192501;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: linear-gradient(to top left, #ff0808 0%, #e8f808 100%);
}

.dice{
   width: 150px;
   border-radius: 12px;
   position: absolute;
   left: 50%;
   margin-left: -75px;
   top: 300px;
}

main{
   position: relative;
   width: 100rem;
   height: 60rem;
   background-color: rgb(243, 179, 95);
   backdrop-filter: blur(200px);
   filter: blur();
   box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   overflow: hidden;
   display: flex;
   border: 8px solid black;
}


.player{
   margin-top: 80px;
   flex: 50%;
   padding: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: all 0.75s;
}

.player--0{
   margin: 0;
}

.player--1{
   margin: 0;
}

.player--active{
   background-color: rgb(212, 34, 34);
   border: 5px solid black;
}

.player--winner{
   background-color: rgb(64, 175, 83);
}


.name{
   position: relative;
   font-size: 200px;
}

.score{
   font-size: 150px;
}

.current{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #07000062;
   width: 330px;
   border-radius: 10px;
   border: 5px solid black;
   
}

.current-label{
   font-size: 100px;
}

.current-score{
   font-size: 80px;
}


.btn--new{
   position: absolute;
   width: 200px;
   height: 100px;
   font-size: 35px;
   top: 10px;
   left: 50%;
   margin-left: -100px;
   border-radius: 20px;
   border: none;
   background-color:rgb(209, 212, 26);
}

.btn--roll{
   position: absolute;
   width: 240px;
   height: 120px;
   font-size: 35px;
   top: 500px;
   left: 50%;
   margin-left: -120px;
   border-radius: 25px;
   border: none;
   background-color:rgb(209, 212, 26);
}

.btn--hold{
   position: absolute;
   width: 200px;
   height: 100px;
   font-size: 35px;
   top: 630px;
   left: 50%;
   margin-left: -100px;
   border-radius: 20px;
   border: none;
   background-color: rgb(209, 212, 26);
}

button:active {
   background-color:  rgb(151, 153, 20);
}


.hidden{
   display: none;
}